<?xml version="1.0"?>
<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
		bootstrap="tests/bootstrap.php"
		colors="true"
		beStrictAboutTestsThatDoNotTestAnything="true"
		convertErrorsToExceptions="true"
		convertWarningsToExceptions="true"
		convertNoticesToExceptions="true"
		convertDeprecationsToExceptions="true"
		cacheResultFile="../../.phpunit.cache/hello-cursor"
		>
	<testsuites>
		<testsuite name="hello-cursor">
			<directory prefix="test-" suffix=".php">tests</directory>
		</testsuite>
	</testsuites>
	<php>
		<!-- WordPress test suite installed by .cursor/install.sh. -->
		<env name="WP_TESTS_DIR" value="/var/www/wp-tests-lib"/>
	</php>
</phpunit>
